# Telegram Bot Token (получи от @BotFather)
BOT_TOKEN=8715681899:AAH7TZase_YoZ4xCtQNGXSqDBk07l277BBw

# URL вебхука (замени на свой URL на bothost.ru)
WEBHOOK_URL=https://bot_1772664027_9667_yason13.bothost.ru

# Порт (для bothost.ru обычно 8000)
PORT=8000
